<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<!-- bean definitions here -->

	<!-- property injection / setter injection -->

	<bean id="employee" class="com.vaman.spring.demo.Employee">
		<property name="id">
			<value>101</value>
		</property>
		<property name="name">
			<value>Sonu</value>
		</property>
		<property name="salary">
			<value>10.5</value>
		</property>
	</bean>

	<!-- constructor injection -->

	<bean id="employee2" class="com.vaman.spring.demo.Employee">
		<constructor-arg value="102" type="int"></constructor-arg>
		<constructor-arg value="Monu" type="java.lang.String"></constructor-arg>
		<constructor-arg value="20.6" type="double"></constructor-arg>
	</bean>

	<!-- collection injection -->

	<bean id="department" class="com.vaman.spring.demo.Department">
		<property name="id" value="10"></property>
		<property name="name" value="HR"></property>
		<property name="functions">
			<list>
				<value>HRM</value>
				<value>Payroll</value>
				<value>CSR</value>
				<value>EE</value>
			</list>
		</property>
	</bean>

	<!-- inner beans -->

	<bean id="employee3" class="com.vaman.spring.demo.Employee">
		<property name="id">
			<value>103</value>
		</property>
		<property name="name">
			<value>Tonu</value>
		</property>
		<property name="salary">
			<value>15.8</value>
		</property>
		<property name="dept">
			<bean id="department" class="com.vaman.spring.demo.Department">
				<property name="id" value="20"></property>
				<property name="name" value="Marketing"></property>
				<property name="functions">
					<list>
						<value>Sales</value>
						<value>Promotions</value>
						<value>Customer Care</value>
					</list>
				</property>
			</bean>
		</property>
	</bean>

	<!-- autowiring -->

	<bean id="employee4" class="com.vaman.spring.demo.Employee"
		autowire="byName">
		<property name="id">
			<value>104</value>
		</property>
		<property name="name">
			<value>Ponu</value>
		</property>
		<property name="salary">
			<value>22.0</value>
		</property>
	</bean>

</beans>